@* _FooterPartial.cshtml *@

<style>
    .minimal-footer {
        background: linear-gradient(to right, #1e3c72, #2a5298); /* Lacivert ve mavi geçişi */
        text-align: center;
        padding: 15px;
        font-size: 14px;
        color: #ffffff; /* Beyaz yazı */
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
        font-family: 'Arial', sans-serif;
    }
    .social-links a {
        margin: 0 10px;
        color: #d1e8ff; /* Açık mavi */
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;
        font-weight: bold;
    }
    .social-links a:hover {
        color: #ffffff; /* Hoverda tamamen beyaz olacak */
        transform: scale(1.1);
    }
    .social-links i {
        margin-right: 5px;
    }
</style>

<footer class="minimal-footer">
    <div class="social-links">
        <a href="https://github.com/BurakTeli" target="_blank">
            <i class="bi bi-github"></i> GitHub
        </a>
        
        <a href="https://www.linkedin.com/feed/" target="_blank">
            <i class="bi bi-linkedin"></i> LinkedIn
        </a>
    </div>
</footer>  
