@model Book
<form method="post">
    <input type="text" name="Title" placeholder="Title" required />
    <input type="text" name="Genre" placeholder="Genre" required />
    <input type="date" name="PublishDate" />
    <input type="text" name="ISBN" placeholder="ISBN" required />
    <input type="number" name="CopiesAvailable" />
    <button type="submit">Create</button>
</form>
